body {
    font-family: Arial, sans-serif;
    background-color: #0d47a1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    text-align: left;
    max-width: 600px;
    & ul li{
        list-style: none;
    }
}
.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}
.discount-option {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount-button {
    background: #1565c0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}