body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:bisque;
    opacity: 70%;
    
}
.containerr {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    & h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
h2{
    color: #28a745;
}
label{
    color: greenyellow;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background: #fff;
    color: red;
}
.total-section {
    margin-top: 10px;
    text-align: right;
}
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}